@font-face {
    font-family: Yanone Kaffeesatz;
    src: url('../fonts/YanoneKaffeesatz-Regular.eot');
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
    font-family: News Cycle;
    src: url('../fonts/NewsCycle-Regular.eot');
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf');
}

html {
    height: 99%;
}

* {
    margin: 0;
    padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

body {
    font: normal .80em arial, sans-serif;
    background: #000 url(../images/pattern.png);
    color: #444;
    font-size: 18px;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

img {
    border: 0;
}

h1 {
    font-size: 180%;
    color: #F67400;
    padding: 1px 2px 0 2px;
}

h2 {
    font-size: 160%;
    padding: 1px 2px 2px 2px;
}

h3 {
    font-size: 140%;
    padding: 1px 2px 0 2px;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #09BCE8;
}

    a:hover {
        text-decoration: none;
    }

blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

ul {
    margin: 2px 0 22px 17px;
}

    ul li {
        list-style-type: circle;
        margin: 0 0 6px 0;
        padding: 0 0 4px 5px;
        line-height: 1.5em;
    }

ol {
    margin: 8px 0 22px 20px;
}

    ol li {
        margin: 0 0 11px 0;
    }

.left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}

#main, nav, #container, #logo, #site_content, footer {
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 100%;
    background: transparent;
}


header {
    background: black;
    height: 75px;
}

#logo {
    width: 300px;
    height: 70px;
    background: black;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    color: #888;
    float: left;
}

#nav {
    height: 44px;
    width: 918px;
    margin: 10px auto 0 auto;
    float: left;
    color: #222;
}

#site_content {
    width: 1280px;
    height: 100%;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #222;
    padding: 15px 15px 15px 15px ;
}

footer {
    width: 100%;
    height: 15px;
    font: 140% 'News Cycle', arial, sans-serif;
    color: #FFF;
    text-align: center;
    background: black; /* Show a solid color for older browsers */
    border: 1px solid #222;
}

    footer p {
        line-height: 1.7em;
        padding: 0 0 10px 0;
    }

    footer a {
        color: #FFF;
        text-decoration: none;
    }

        footer a:hover {
            color: #222;
            text-shadow: none;
            text-decoration: underline;
        }

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

/* Configuration of menu width */
html body ul.sf-menu ul, html body ul.sf-menu ul li {
    width: 220px;
}

    html body ul.sf-menu ul ul {
        margin: 0 0 0 220px;
    }

/* Framework for proper showing/hiding/positioning */
ul.sf-menu, ul.sf-menu * {
    margin: 0;
    padding: 0;
}

ul.sf-menu {
    display: block;
    position: relative;
}

    ul.sf-menu li {
        display: block;
        list-style: none;
        float: left;
        position: relative;
    }

        ul.sf-menu li:hover {
            visibility: inherit; /* fixes IE7 'sticky bug' */
        }

    ul.sf-menu a {
        display: block;
        position: relative;
    }

    ul.sf-menu ul {
        position: absolute;
        left: 0;
        width: 150px;
        top: auto;
        left: -999999px;
    }

/* autoArrows CSS */
span.sf-arrow {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 20px;
    right: 5px;
    display: block;
    background: url(../images/arrows-white.png) no-repeat 0 0;
    overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
    font-size: 1px;
}

ul ul span.sf-arrow {
    right: 5px;
    top: 20px;
    background-position: 0 100%;
}

/* Theming the menu */
ul#nav {
    float: left;
    top: 0px;
    left: 7px;
}

    ul#nav ul {
        background: #222;
        margin-top: 4px;
        padding-bottom: 15px;
    }

    ul#nav li a {
        padding: 7px 25px 6px 25px;
        font: 140% 'News Cycle', arial, sans-serif;
        text-decoration: none;
        color: #FFF;
        margin-right: 2px;
    }

        ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus {
            color: #09BCE8;
            text-shadow: none;
        }

    ul#nav ul li a {
        color: #FFF;
    }

        ul#nav ul li a:hover {
            color: #09BCE8;
            margin-right: 2px;
        }