
input, textarea {
    padding: 5px;
    font: 100% "Droid Sans", arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border: 7px 7px 7px 7px;
    text-align: left;
}

.principal {
    padding-top: 5px;
    margin: 0 auto;
    text-align: center;
}

.drop {
    padding: 5px; 
  font: 100% "Droid Sans", arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
}

#divtable {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}