<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation  batch="false" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
    </system.web>
  <connectionStrings>
    <add name="conexaoClienteSQLServer" connectionString="Server=7582d10a-bacb-418d-88ee-a31c016cf7f0.sqlserver.sequelizer.com;Database=db7582d10abacb418d88eea31c016cf7f0;User ID=afjahlruuiepozqg;Password=ndgrvmwNvewLptLa3eWEQdy4xw4ughzo3vFAiZxWWQLkdeGBQjREihFjMm37rbGo;"/>
  </connectionStrings>
</configuration>
