<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation  batch="false" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
    </system.web>
  <connectionStrings>
    <add name="ConexaoMySQL" connectionString="server=2ae53451-9636-4d63-8e83-a3ff010a2e1a.mysql.sequelizer.com;database=db2ae5345196364d638e83a3ff010a2e1a;uid=pymagyvjjukbucgi;pwd=o6ZHBdPWzgxJuvduqctuBzvtqaBwfUsB2FUeGjVTkMqUwZqELckiSXyVJFsAJrQN"
     providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
